[package]
name = "octopower"
version = "0.2.0"
edition = "2021"
description = "A client library for the Octopus Energy API."
license = "MIT OR Apache-2.0"
authors = ["Andrew Walbran <qwandor@gmail.com>"]
repository = "https://github.com/qwandor/octopower"
keywords = ["octopus", "energy", "api", "smart-meter"]
categories = ["api-bindings"]

[dependencies]
chrono = { version = "0.4.38", features = ["serde"] }
graphql_client = { version = "0.14.0" }
reqwest = { version = "0.12.7", features = ["json", "rustls-tls-webpki-roots"], default-features = false }
serde = "1.0.210"
serde_json = "1.0.128"
thiserror = "1.0.64"
url = "2.5.2"

[dev-dependencies]
eyre = "0.6.12"
pretty_env_logger = "0.5.0"
tokio = { version = "1.38.1", features = ["macros", "rt", "rt-multi-thread"] }
