[package]
name = "octopower"
version = "0.1.0"
edition = "2021"
description = "A client library for the Octopus Energy API."
license = "MIT OR Apache-2.0"
authors = ["Andrew Walbran <qwandor@gmail.com>"]
repository = "https://github.com/qwandor/octopower"
keywords = ["octopus", "energy", "api", "smart-meter"]
categories = ["api-bindings"]

[dependencies]
chrono = { version = "0.4.19", features = ["serde"] }
graphql_client = { version = "0.10.0" }
reqwest = { version = "0.11.8", features = ["json", "rustls-tls-webpki-roots"], default-features = false }
serde = "1.0.133"
serde_json = "1.0.74"
thiserror = "1.0.30"
url = "2.2.2"

[dev-dependencies]
eyre = "0.6.5"
pretty_env_logger = "0.4.0"
tokio = { version = "1.15.0", features = ["macros", "rt", "rt-multi-thread"] }
