[Unit]
Description=Run octo-influx every night.
Requires=octo-influx.service

[Timer]
OnCalendar=*-*-* 8:00
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
